<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">IT BLOG</h1>
    <p class="lead">Blog chia sẻ kinh nghiệm về lĩnh vực liên quan đến IT</p>
    <hr class="my-4">
    <p>Thế giới tri thức.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>



